html,
body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.main-content {
	flex-grow: 4;
}

footer {
	flex-shrink: 1;
	background: #e8e8e8;
	span {
		text-align: center;
		&:first-child {
			margin-top: 10px;
		}
		&:last-child {
			margin-bottom: 10px;
		}
	}
}

.question {
	.title,
	.answer {
		text-align: center;
	}
}