doctype
html
	head
		title Family Feud!
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/mane.css')
		script(src='/vendor.js')
		script(src='/client.js')
	body(ng-app='family-feud')
		.container.main-content
				block content
		footer.col-xs-12
			.container
				span.col-xs-4.col-xs-offset-4
					i.fa.fa-code 
					| &nbsp;with&nbsp;
					i.fa.fa-heart-o
					| &nbsp;on&nbsp;
					i.fa.fa-github
				span.col-xs-4.col-xs-offset-4
					| Powered by ExpressJS and Angular